$orange : #ffa500;
$off-white : #f8f8f8;
$green : #57b846;
$red : #ea4355;
$blue : #1da2fa;
$success-text : #4caf50;
$white : #fff;
$shadow : 10px 10px 5px -8px rgba(161,156,161,1);
$error-text: #f44336;




$xs: 0.5rem;
$norml: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;

$button-radius : 30px;

$recursive : 'Recursive', sans-serif;

$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;
