* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Recursive', sans-serif;
}

@media (max-width: 768px) {
    #home section{
        padding: 0 $norml;
        width: 100%;
        height: 100%;
    }
}

.toast-invalid {
    background-color: $error-text !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.toast-valid {
    background-color: $success-text !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.disable {
    background-color: #ccc !important;
    box-shadow: none !important;
    pointer-events: none !important;
    opacity: 0.9;

}